.registrationForm {
  width: 450px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input{
  margin: 8px;
  padding: 8px;
  border-radius: 3px;
}

.submitBtn{
  width: 30%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.title{
  text-align: center;
}